<a href="https://colab.research.google.com/github/Ujwal135/Python_journey/blob/main/python_basic_Integers%2C_Floats_and_Booleans_dtypes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Integers, Floats and Booleans
Numeric - Numeric variables take values which are numbers like 9, 3.14, 0, Inf

String - String variables are used to store textual information

Boolean - Boolean variables have two modes either True or False. A definite judge of statements!

Datetime - These variables are used to store date and time values such as 2020-08-01 12:23:54

#numric dtypes

In [9]:
# Addition
2+1

3

In [ ]:
# Subtraction
2-5

In [11]:
# Multiplication
2*2

4

In [12]:
# Division
3/2

1.5

In [13]:
# Floor Division
7//2

3

In [15]:
# Exponentiation
2**5

32

In [16]:
# Modulus
5%6

5

In [17]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

A lot many different types of numbers are supported in Python like integers (int type), real numbers (float type), complex numbers. We will mostly use integer and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

In [18]:
# floating numbers
a = 2.444
type(a)

float

What is a Variable?

VARIABLES are entities which help us store information and retrieve it later.

A variable with a fixed name can store information of nature like numeric, textual, boolean etc

In [19]:
x = 10

In [20]:
x

10

In [23]:
y = 2.3

In [24]:
print(y)

2.3

In [25]:
# basic arithmatic opertion by using variables
z = x+y
print(z)

12.3

In [28]:
# Floor division 
x = 5
y = 6.4
z= x//y  #  Remember x=10, y=2.3
print(z)

0.0

The reason we get this result is because we are using "floor" division. 
The // operator (two forward slashes) is the mathematical equivalent of doing [0.75] 
which returns the greatest integer less than or equal to 0.75

In [29]:
# Modulo operator
y=5
x=3

z = y%x       # Modulus is denoted by % sign
print(z)

2

In [26]:
# BODMAS nostalgia
some_random_operation =(x+y)/y + (y-x)*x     

print(some_random_operation)
type(some_random_operation)

-71.65217391304348

float

#Boolean Variables
A Boolean variable only takes two values either True or False. It is used for comparisons

Comparison Operators
These operators will allow us to compare variables and output a Boolean value (True or False).

If you have any sort of background in Math, these operators should be very straight forward.

Python comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [30]:
# Set object to be a boolean
boolean_variable = False
type(boolean_variable)

bool

In [31]:
boolean_variable

False

In [32]:
# equal
2==3

False

In [33]:
3==3

True

In [34]:
#not equal
2!= 3

True

In [35]:
2!= 2

False

In [36]:
# Greater than
a=3
b=2
a> b

True

In [37]:
a == 3

True

In [38]:
b > 4

False

In [39]:
#Less than

10 < 45

True

In [40]:
4 < 2

False

In [41]:
#Greater than or equal to
3 >=2

True

In [42]:
4 >= 4

True

In [43]:
#Less than or equal to
3 <= 0

False

In [44]:
1 <= 2

True

In [ ]:
# in pyhton there is various data types and data types is very important concept 
#as we know the variable is storing differnt data types 
# python has following data type 

# text data type = 'str'               
str1 = 'data'
print(type(str1))

<class 'str'>

In [ ]:
# numric data type = 'int','float'  
int1 = 34 
float1 = 3.12 
print('int1',type(int1),'float1',type(float1))

int1 <class 'int'> float1 <class 'float'>

In [ ]:
# boolien data type                   
a = 1<3
print(type(a))

<class 'bool'>

In [2]:
# mapping type 
# Dict
ex_dict = {2:4}
print(type(ex_dict))

<class 'dict'>

In [3]:
# sets 
a = [2,3,4,5,4,5,5,6]
b = set(a)
print(b,type(b))

{2, 3, 4, 5, 6} <class 'set'>